form {
  width: 90%;
  max-width: 300px;
  /* background-color: #fff; */
  background: rgb(48, 73, 213);
  background: radial-gradient(circle, rgba(16, 47, 225, 0.996) 5%,
   rgb(23, 31, 76) 100%);
  border-radius: 30px;
  padding: 20px 30px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 26px;
  color: #ACFF8D;
}

textarea {
  background-color: #F9FBFC;
  border: 2px, solid #202329;
  border-radius: 20px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1E1E1F;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100%-25px);
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #61DAFA;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #b3072c;
  font-weight: 600;
  width: 120px;
  height: 48px;
  border-radius: 30px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button:hover {
   color: #78031A;
   background-color: #FFD176;
   transition: background 0.3s ease-in;
}

.TodoForm-button-add {
  background-color: #61DAFA;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.TodoForm-button-cancel {
  background: transparent;
}